* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  padding: 0vh 5vw 0vh 2vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FFF3E6;
}

/* logo-image */
.top-logo-image {
  width: 10vw;
}

.bulkup-icon {
  margin-right: 0.5vw;
}
/* /logo-image */

/* search-bar */

/* /search-bar */

/* login-bar */
.lists-right {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}


.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color: #41245C;
  font-weight: bold;
}


.logout {
  border-radius: 10px;
  background: #FFF3E6;
  box-shadow:  6px 6px 12px #9c948c,
              -6px -6px 12px #ffffff;
  text-decoration: none;
  padding: 10px;
  color:#41245C;
  font-weight: bold;
}

.sign-in {
  border-radius: 10px;
  background: #FFF3E6;
  box-shadow:  6px 6px 12px #9c948c,
              -6px -6px 12px #ffffff;
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  padding: 10px;
  color: #41245C;
  font-weight: bold;
}

.sign-up {
  border-radius: 10px;
  background: #FFF3E6;
  box-shadow:  6px 6px 12px #9c948c,
              -6px -6px 12px #ffffff;
  text-decoration: none;
  padding: 10px;
  color: #41245C;
  font-weight: bold;
}
/* /login-bar */