* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  padding: 0vh 5vw 0vh 2vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FFF3E6;
}

.right-nav-box {
  display: flex;
  align-items: center;
}

/* logo-image */
.top-logo-image {
  width: 10vw;
}

.bulkup-icon {
  margin-right: 0.5vw;
}
/* /logo-image */

/* search-bar-contents */
.search-ingredients {
  padding: 5px;
  margin-right: 5px;
  border-radius: 10px;
  border-color: #FFF3E6;
}

.search-cooking-time {
  padding: 5px;
}

.search-btn {
  background-color: #41245C;
  border-color: #41245C;
  border-radius: 20px;
  color: white;
  padding: 5px;
  cursor: pointer;
}

/* /search-bar-contents */

/* login-bar */
.lists-right {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}


.user-nickname {
  position: relative;
  text-decoration: none;
  margin-right: 3vw;
  color: #41245C;
  font-weight: bold;
  cursor: pointer;
}

.show-lists {
  position: absolute;
  top: 60px;
  height: 60px;
  padding: 20px;
  background-color: #41245C;
}

.nav-btn {
  border-radius: 20px;
  background-color: #41245C;
  text-decoration: none;
  padding: 10px;
  color: white;
  cursor: pointer;
}

.charts {
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.hidden {
  display: none;
}
/* /login-bar */