.purchase-btn {
  width: 120px;
  background: #41245C;
  text-align: center;
  border-radius: 20%;
  bottom: 25px;
  right: 25px;
  position: fixed;
  padding: 10px;
}

.purchase-btn-text {
  color: #fff;
  display: block;
  font-size: 15px;
  text-decoration: none;
}
