.name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
}
.charts-sell-contents {
  background-color: #E7E7EE;
  font-size: 14px;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 500px;
}

.charts-sell-main {
  border-radius: 25px;
  box-shadow: 25px 25px 50px #c4c4cb,
              -25px -25px 50px #ffffff;
  background-color: #E6E7EF;
  width: 70vw;
  min-width: 450px;
  padding: 10vh 15vw;
  min-height: 500px;
}

.chart-btn-box {
  text-align: right;
}
.chart-btn {
  border-radius: 25px;
  color: white;
  background-color: #41245C;
  padding: 10px;
  margin-bottom: 5px;
  cursor: pointer;
}

.chart-date {
  font-weight: bold;
  font-size: 50px;
}

.chart-user-name {
  font-weight: bold;
  margin-bottom: 30px;
}

.chart-lists {
  font-weight: bold;
}

.nutrient-form-box {
  text-align: right;
  margin-bottom: 30px;
}

.nutrient-form-btn {
  background: #41245C;
  border: 1px solid #41245C;
  border-radius: 25px;
  color: #fff;
  font-size: 14px;
  padding: 10px;
  cursor: pointer;
}

.pfc-contents {
  border-radius: 25px;

  padding: 30px;
  margin-bottom: 5vh;
}

.vitamin-contents {
  border-radius: 25px;
  padding: 30px;
  margin-bottom: 5vh;
}